.profile-container {
  min-height: 39.05rem;
  font-family: "Nunito Sans", serif;
}

/* -----------------------------|Search Box|------------------------------ */
/* ----------------------------------------------------------------------- */

.search-box {
  padding: 2rem;
  text-align: center;
}

.search-box input {
  width: 40%;
  padding: 0.8rem 2rem;
  border-radius: 10px;
  font-size: 1rem;
  margin-top: 2rem;
  border: 1px solid black;
}

/* -----------------------------|Profiles Container|------------------------------ */
/* ------------------------------------------------------------------------------- */

.grid {
  width: 75%;
  margin: 3rem auto 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

/* Styles individual profile cards */
.profile {
  width: 35rem;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  padding: 0.8rem;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease-in-out;
}

.profile:hover {
  transform: scale(1.01);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
}

.profile-img {
  width: 10rem;
  height: 12rem;
  display: flex;
  margin-right: 1rem;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.profile-img img {
  height: 100%;
}

.profile-details {
  width: 22.4rem;
  max-width: 22.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-details h3 {
  font-size: 1.7rem;
  font-family: "M PLUS Rounded 1c", serif;
}

.profile-logo-img {
  width: 1.6rem;
  height: 1.6rem;
  margin-left: 1rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.profile-logo-img:hover {
  transform: scale(1.1);
}

.profile-btn-wrapper {
  display: flex;
  justify-content: end;
}

.summary-btn {
  padding: 0.45rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 7px;
  cursor: pointer;
  background-color: #50c878;
  transition: 0.3s ease-in-out;
}

.summary-btn:hover {
  background-color: #3a9e6a;
}

.details-btn {
  padding: 0.45rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  margin-left: 1rem;
  border-radius: 7px;
  cursor: pointer;
  background-color: #a0d2f7;
  transition: 0.3s ease-in-out;
}

.details-btn:hover {
  background-color: #4a90e2;
}

.map-wrapper {
  margin-top: 10px;
  height: 250px;
  width: 100%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}

.no-data-container {
  margin: auto;
  font-size: 1.5rem;
}

/* -----------------------------|Media Queries|------------------------------ */
/* -------------------------------------------------------------------------- */

/* Responsive styles for different screen sizes */
@media screen and (max-width: 1350px) {
  .grid {
    width: 90%;
  }
}

@media screen and (max-width: 1285px) {
  .search-box input {
    width: 60%;
  }

  .grid {
    width: 85%;
    justify-content: center;
  }
}

@media screen and (max-width: 750px) {
  .search-box input {
    width: 70%;
  }

  .profile {
    width: 25rem;
    justify-content: center;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .profile-details h3 {
    margin: auto;
    margin-top: 0.5rem;
  }

  .profile-btn-wrapper {
    margin-top: 0.7rem;
    justify-content: center;
  }
}

@media screen and (max-width: 550px) {
  .search-box input {
    width: 80%;
  }

  .profile {
    width: 20rem;
    justify-content: center;
    text-align: center;
    margin-bottom: 1.5rem;
  }
}
